    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Bienvenido a su proceso psicológico.</h2>
              <br/>
                <p>El malestar causado por emociones como el enojo y la tristeza pueden llegar a ser incapacitantes durante su vida cotidiana.</p>
<p>Pareciera que usted tiene que pasar por esto por su cuenta, pero no es así</p>
<p>Con acompañamiento psicologico, usted aprenderá a modular el pensamiento y las respuestas fisiológicas de esta experiencia de vida.</p>
                <br/>
              </div>
        </div>
    </section>
