    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Capsulas De Psicología</h2>
              <br/>
                <p>Acudir a tratamiento psicológico es una decisión importante para tu salud, es por ello que intento llevar información digerible para ti. Con la intención de que tomes una decisión lo más informada posible al elegir una consulta.</p>
                <p>En mi canal de Youtube encontraras podcast y charlas sobre temas variados de Psicología.</p>
                <br/>
              </div>
        </div>
    </section>
