<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Acerca de mí</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Servicios</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contacto</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://www.amazon.com/Obsolescencia-Programada-Los-V%C3%ADnculos-Contextual/dp/B0F339CS4C?dib=eyJ2IjoiMSJ9.Cif24m4gJGQm8b-0IqOBWA.p_BFIRGzOw4qEUo0z2QXnXOiykYq7DmF2HxdUT8OKfQ&dib_tag=se&qid=1743641571&refinements=p_27%3APsic+Miguel+Coria+Guerrero&s=books&sr=1-1&text=Psic+Miguel+Coria+Guerrero&ufe=app_do%3Aamzn1.fos.6121c6c4-c969-43ae-92f7-cc248fc6181d">Libros</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://cenepsicoedu.github.io">Cursos</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
